[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
pyyaml = "*"
discord-py = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python3 ./bot.py"
