[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pre-commit = "*"

[packages]
pyyaml = "*"
discord-py = "*"
hagadias = {git = "https://github.com/TrashMonks/hagadias.git",ref = "master"}
fuzzywuzzy = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python3 ./bot.py"
