[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pre-commit = "*"

[packages]
pyyaml = "*"
hagadias = {editable = true, ref = "main", git = "https://github.com/TrashMonks/hagadias.git"}
fuzzywuzzy = "*"
aiodns = "*"
oauthlib = "*"
asyncpraw = "*"
"discord.py" = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python3 ./bot.py"
